* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Default Styles */
body {
    background-color: #1d3557;
}

/* Styles Go Here */
header {
    background-color: #e63946;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #f1faee;
    position: relative;
}

a.home-button {
    z-index: 1;
    color: black;
    background-color: whitesmoke;
    position: absolute;
    border: 1px solid black;
    padding: 0.4rem 1.1rem 0.4rem 1.1rem;
    top: 0.3rem;
    left: 0.3rem;
    transition: background-color 0.5s ease;
}

a.home-button:hover {
    cursor: pointer;
    color: #f1faee;
    background-color: black;
}

main {
    cursor: url(../assets/icons/diagram-2-fill.svg)15 15, default;
    min-height: 100vh;
}
