* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

/* Dashboard Styles*/


/* Header Styles *********************/
header.dashboard-header {
    text-align: center;
    padding: 1rem;
}

nav.dashboard-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
}


h2.dashboard-welcome {
    margin-top: 2rem;
}

/* Dashboard Button Styles */
button.dashboard-logout-btn {
    z-index: 1;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 0.4rem 1.1rem 0.4rem 1.1rem;
    top: 0.3rem;
    right: 0.3rem;
    transition: background-color 0.5s ease;
}
button:hover {
    cursor: pointer;
    color: #f1faee;
    background-color: #333;
}

/*dashboard button styling */
a.dashboard-home-btn {
    z-index: 1;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 0.4rem 1.1rem 0.4rem 1.1rem;
    top: 0.3rem;
    right: 2.3rem; /* Adjust as needed for the desired position */
    transition: background-color 0.5s ease;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover {
    cursor: pointer;
    color: #f1faee;
    background-color: #333;
    text-decoration: none; 
}
a:active { 
    text-decoration: none; 
}
  
/* Dashboard Styling **********************************/
th.table-column-title {
    font-size: 2rem;
}

main.dashboard-main {
    /*min-height: 100vh;
    padding: 2rem;
    border: 2px solid black;*/
    min-height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(30, 206, 125, 1) 56%, rgba(69, 110, 252, 1) 100%);
}

table.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    
}

th {
    background: #333;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

tr:nth-of-type(odd) {
    /*background: #eee;*/
    min-height: 100vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(30, 206, 125, 1) 56%, rgba(69, 110, 252, 1) 100%);
}

tr:hover {
    opacity: 0.8;
    cursor: pointer;
}

td {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

input[type="checkbox"] {
    background-color: red;
}

input[type="checkbox"] {
    transform: scale(2);
}