@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


/* KeyFrames *******/
@keyframes swapAnimation {
    50% {
        color: #FEF08A;
        transform: scale(1.2);
    }
}

@keyframes shakeAnimation {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }

    25% {

        transform: translate3d(-5px, 0, 0);
    }

    55% {
        transform: translate3d(5px, 0, 0);
    }

    100% {
        transform: translate3d(0px, 0, 0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
}

a {
    text-decoration: none;
}

/* CSS variables */
:root {
    --node-color: #44403c;
    --swap-color: #fcbe057b;
    --max-color: #0bf2548b;
    --lastnode-color: #fc4f057b;
    --node-txt-color: whitesmoke;
    --nav-txt-color: whitesmoke;
    --nav-bg-color: #171717;
    --main-bg-color: #171717;
    --primary-border-color: #D9E2EC;
    --input-bg-color: #D9E2EC;
    --primary-padding: 0.7rem;
    --btn-bg-color: #4F46E5;
    --second-btn-bg-color: #44403C;
    --second-btn-border: #929598;
}

/******************************** Navigation Bar Styling */
a.link {
    color: var(--node-txt-color);
    margin-right: 0.3rem;
    text-decoration: underline;
}

nav h1 {
    font-family: ;
}

nav.navigation-bar {
    background-color: var(--nav-bg-color);
    padding: var(--primary-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navigation-bar h1 {
    color: var(--nav-txt-color);
}

section.input-section {
    background-color: var(--main-bg-color);
    padding: var(--primary-padding);
    display: flex;
    gap: 0.2rem;
}

input[type=text] {
    background-color: var(--main-bg-color);
    border: 2px solid var(--primary-border-color);
    padding: 0.4rem;
    font-size: 1rem;
    color: var(--input-bg-color);
}

button {
    color: var(--primary-border-color);
    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
    font-size: 1.1rem;
    border: none;
    background-color: var(--second-btn-bg-color);
    border: 2px solid var(--second-btn-border);
    border-radius: 0.3rem;
}

button:last-child {
    background-color: var(--btn-bg-color);
    border: 2px solid #8a84ee;
}

button:hover {
    cursor: pointer;
}

/************************************ Main Styling */
main {
    background-color: var(--main-bg-color);
    min-height: 90vh;
    padding: var(--primary-padding);
    display: flex;
    align-items: center;
}

/*********************************** MaxHeap container */
div.maxheap-container {
    display: grid;
    margin: 3rem auto;
}

.level {
    display: grid;
}

/*********************************** Section output ***/
section.parent-section {
    background-color: var(--main-bg-color);
}

#error-msg {
    background-color: #f5530e7b;
    padding: 0.4rem;
    border: 2px solid #f1dfd77b;
    opacity: 0;
    border-radius: 0.3rem;
    transition: opacity 500ms;
}

#error-msg.active {
    opacity: 1;
    animation: shakeAnimation 1s;
}

section.info-section {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

section.info-section p {
    margin: 0.3rem;
    color: #d4d2d2;
}

/*************************** Node Styling ************/
.node {
    border: 3px solid var(--primary-border-color);
    border-radius: 0.4rem;
    background-color: var(--node-color);
    padding: 0.4rem 1rem 0.4rem 1rem;
    font-weight: bold;
    color: var(--node-txt-color);
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    margin: 0.2rem;
}

.node.clear {
    opacity: 0;
}

.node:hover {
    transform: scale(1.1);
}

/****** Keyframes applies as css classes ****/
.node-swapping {
    animation: swapAnimation 1s;
    transition: background-color 1s;
    background-color: var(--swap-color);
}

.node-max {
    background-color: var(--max-color);
}

.node-last {
    background-color: var(--lastnode-color);
    transition: background-color 1s;
}

/* Mobile Screen Settings ******************/
@media screen and (max-width: 500px) {
    nav.navigation-bar {
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 20vh;
        padding: 1rem;
    }
}