* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles Go Here */
body {
  height: 100%;
  background-color: lightgrey;
  font-family: system-ui;
}

h1 {
  text-align: center;
  color: #f1faee;
  position: relative;
}

h2 {
  text-align: center;
  color: #f1faee;
  position: relative;
}

a {
  text-decoration: none;
}



.header {
  background-color: #581845;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.container {
  display: flex;
  height: 89vh;
}


.column {
  flex: 1;
  padding: 20px;
  margin: 0px;
}
.column-30 {
  background-color: #900c3f;
  height: flex;
  justify-content: space-between;
  flex: 30%;
}

.column-70 {
  background-color: #FF5733;
  flex: 70%;
}




/* -- Panels -- */
/* Buttons panel */
.button-panel {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  height: 19vh;
}

/* Code panel */
.code-panel {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  height: 62vh;
}

/* Canvas panel */
.canvas-panel {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  height: 85vh;
}


/* Stack Visualizer panel */
#stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.stack-box {
  width: 500px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.76);
  background-color: #ff6b90;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

input {
  margin-bottom: 5px;
}



/*-- Buttons --*/
/* Home Button */
.home-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #FF6B6B;
  border-radius: 15px;
  box-shadow: 0 9px #00000055;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.home-button:hover {
  background-color: #943f3f
}
.home-button:active {
  background-color: #943f3f;
  box-shadow: 0 5px #00000075;
  transform: translateY(4px);
}


/* Back Button */
.back-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #FF6B6B;
  border-radius: 15px;
  box-shadow: 0 9px #00000055;
  position: absolute;
  top: 1rem;
  left: 9rem;
}
.back-button:hover {
  background-color: #943f3f
}
.back-button:active {
  background-color: #943f3f;
  box-shadow: 0 5px #00000075;
  transform: translateY(4px);
}


/* Normal Button */
.reg-button-set {
  display: flex;
}
.reg-button {
  display: inline-block;
  font-size: 20px;
  padding: 7px 7px;
  cursor: pointer;
  text-align: center;
  width: 100%;

  color: #fff;
  background-color: #FF6B6B;
  border-radius: 15px;
  box-shadow: 0 6px #00000055;
  margin-left: 10px;
  margin-right: 10px;
}
.reg-button:hover {
  background-color: #943f3f
}
.reg-button:active {
  background-color: #943f3f;
  box-shadow: 0 3px #00000075;
  transform: translateY(3px);
}



.method-button {
  display: inline-block;
  font-size: 20px;
  padding: 6px 6px;
  cursor: pointer;
  text-align: center;
  width: 15%;
  color: #fff;
  background-color: #FF6B6B;
  border-radius: 15px;
  box-shadow: 0 6px #00000055;
  margin: 10px;
}
.method-button:hover {
  background-color: #2b1111
}
.method-button:active {
  background-color: #943f3f;
  box-shadow: 0 3px #00000075;
  transform: translateY(3px);
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="number"] {
  background-color:white;
  color: black;
  width: 71%;
  padding: 9px;
  font-size: 1.2rem;
}


.code-button {
  display: inline-block;
  font-size: 20px;
  padding: 7px 7px;
  cursor: pointer;
  text-align: center;
  width: 30%;
  color: #fff;
  background-color: #FF6B6B;
  border-radius: 15px;
  box-shadow: 0 6px #00000055;
  margin: 6.5px;
}
.code-button:hover {
  background-color: #943f3f
}
.code-button:active {
  background-color: #943f3f;
  box-shadow: 0 3px #00000075;
  transform: translateY(3px);
}


/* Displaying Code */
.code-container {
  display: inline-block;
  background-color: #000;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
  height: 80%;
}

pre {
  background-color: #000;
  color: #fff;
  margin: 0;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

.highlight {
  color: #e44d26; /* Set your desired color for highlighting */
}