* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles Go Here */
body {
  height: calc(100vh - 70px);
  background-color: lightgrey;
  font-family: system-ui;
  min-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #f1faee;
}

h2 {
  text-align: center;
  color: #f1faee;
}

:root{
 --bg-color: #8d7e8c;
 --button-color: #df986f;
 --hover-button-color: #013170;
 --clicked-button-color: #373750;
}

.background-image {
  background-image: url('/assets/icons/StackBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #02006bbe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  min-width: 60vw;
  white-space: nowrap;
}

.container {
  display: flex;
  margin-top: 70px;
  height: calc(100vh - 70px);
  border-top: 8px groove rgba(189, 166, 252, 0.507);
}


.column {
  flex: 1;
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;
  width: auto;
  height: calc(100vh - 70px);
}

.column-40 {
  height: auto;
  justify-content: space-between;
  width: 40%;
  flex: 40%;
}

.column-60 {
  height: auto;
  justify-content: space-between;
  width: 60%;
  flex: 60%;
}




/* -- Panels -- */
/* Buttons panel */
.button-panel {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 2%;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.popup-panel {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2%;
  margin-bottom: 2%;
  height: auto;
  width: auto;
  color: white;
}

/* Canvas panel */
.canvas-panel {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  height: calc(100vh - 110px);
  width: auto;
  overflow: auto;
}





/* Stack Visualizer panel */
#stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: calc(88vh - 70px);
  z-index: 1;
}

.stack-box {
  width: 500px;
  height: 50px;
  border: 4px groove #e27dd18f;
  background-color: rgba(245, 203, 255, 0.616);
  border-radius: 15px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  animation: dropDown 0.5s ease-in 0s 1 normal both;
  z-index: 1;
}

.stack-box.stack-remove {
  animation: shakeAndFade 0.75s ease-in-out 1;
}

.stack-box.peek-highlight {
  animation: peek-highlight 2s normal;
}

input {
  margin-bottom: 5px;
}



.header-button-container {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  padding-left: 8px;
  padding-right: 8px;
}

.header-button {
  display: inline-block;
  font-size: 24px;
  padding: 9px 20px;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #ffffff67;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  color: #c0c0c0;
  background-color: #00000070;
}
.header-button:hover {
  background-color: #00303f70;
}
.header-button:active {
  background-color: #70990070;
}


.method-button {
  display: inline-block;
  font-size: 20px;
  padding: 1% 1%;
  cursor: pointer;
  text-align: center;
  width: 18%;
  color: #fff;
  background-color: var(--button-color);
  border-radius: 15px;
  box-shadow: 0 6px #00000055;
  margin-left: 0.7%;
  margin-right: 0.7%;
  margin-top: 12px;
  margin-bottom: 12px;
}
.method-button:hover {
  background-color: var(--hover-button-color);
}
.method-button:active {
  background-color: var(--clicked-button-color);
  box-shadow: 0 3px #00000075;
  transform: translateY(3px);
}

.custom-input {
  border: 1px solid #ccc;
  border-radius: 7px;
}

input[type="number"] {
  background-color:white;
  color: black;
  width: 78%;
  padding: 9px;
  font-size: 1.2rem;
}




.tab{
  overflow: auto;
}

.tabcontent {
  display: none;
  position: absolute;
  padding: 6px 12px;
  background-color: #02006bbe;
  margin-top: 70px;
  height: calc(100vh - 70px);
  width: 100vw;
  border-top: none;
  text-align: center;
  overflow-y: scroll;
  overflow-x: none;
  color: white;
  animation: tabDropDown 1s ease-in-out 0s 1;
  z-index: 2;
}

.tabcontent h3 {
  font-size: xx-large;
  color: rgb(255, 255, 255);
}

.tabcontent h2 {
  text-align: left;
  color: rgb(255, 255, 255);
}

.tabcontent p {
  font-size: large;
  margin-bottom: 10px;
}

.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {
  color: red;
}

/* Displaying Code */
.code-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}


.highlight {
  color: #e44d26; /* Set your desired color for highlighting */
}







@keyframes dropDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes peek-highlight {
  0% {
    background-color: rgba(92, 231, 150, 0.753);
  }
  50% {
    background-color: rgba(92, 231, 150, 0.753);
    transform: scale(1.1); 
  }
  100% {
    background-color: rgba(245, 203, 255, 0.616);
    transform: scale(1); /* Return to normal scale */
  }
}

@keyframes shakeAndFade {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  10%, 30%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
  50% {
   transform: translateX(-5px);
   opacity:1;
  }
  to {
    opacity: 0;
  }
}

@keyframes tabDropDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}