* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: system-ui;
}

h1.main-title {
    text-align: center;
}

article.links {
    padding: 0.7rem;
    text-align: center;
}
/* Main Page Styling */

/*dashboard button styling */

a.dashboard-btn {
    z-index: 1;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 0.4rem 1.1rem 0.4rem 1.1rem;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem; /* Adjust as needed for the desired position and padding */
    transition: background-color 0.5s ease;
}
a.dashboard-btn:link { 
    text-decoration: none; 
} 
a.dashboard-btn:visited { 
    text-decoration: none; 
} 
a.dashboard-btn:hover {
    cursor: pointer;
    color: #f1faee;
    background-color: #333;
    text-decoration: none; 
}
a.dashboard-btn:active { 
    text-decoration: none; 
}

/*logout button Styling */
.logout-button button {
    z-index: 1;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 0.4rem 1.1rem 0.4rem 1.1rem;
    top: 0.3rem;
    right: 0.3rem; /* Adjust as needed for the desired position */
    position: absolute;
    transition: background-color 0.5s ease;
}

.logout-button button:hover {
    cursor: pointer;
    color: #f1faee;
    background-color: #333;
}