* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: system-ui;
}

/* small change */
h1.main-title {
    text-align: center;
}

article.links {
    padding: 0.7rem;
    text-align: center;
}

/* Main Page Styling */